unami.ziyixi.science {
	reverse_proxy * unami:3000
}

changedetection.ziyixi.science {
	reverse_proxy * changedetection:5000
}

daily.ziyixi.science {
	reverse_proxy * cloudmailin-todoist-app:8080
}

siyuan.ziyixi.science {
	reverse_proxy * siyuan:6806
}

ziyixi.science {
	reverse_proxy * wordpress:80
}

wordpress.ziyixi.science {
	reverse_proxy * wordpress:80
}